body {
    font-family: 'Roboto', sans-serif;
    background-color: #169f63;;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    height: 100%; /* Set the desired height */
    margin: 50px auto;
    background-color: hsl(170, 23%, 95%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #e74c3c;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

select,
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0d3754;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#chartContainer {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
